# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
packages/ui/node_modules
packages/api/node_modules
packages/examples/with-express/node_modules
packages/express/node_modules


packages/ui/dist
packages/api/dist
packages/examples/with-express/dist
packages/express/dist


/.pnp
.pnp.js
dist
client/stats.html

*.tgz

# testing
/coverage

# misc
packages/api/.env
packages/api/package-lock.json
packages/express/package-lock.json
packages/examples/with-express/package-lock.json
packages/ui/package-lock.json


.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*